* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font-family:Arial;
	font-size:14px;
	background:#fafafa;
	color:#333;
	width: 100%;	
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	background:white;
	box-shadow:0 0 3px rgba(0,0,0,0.3);
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	background: #3377aa;
	padding:20px 30px;
}

.mainmenu {list-style:none;}
.mainmenu li {float:left;margin-right:30px;} 
.mainmenu a {color:white;font-size:18px;}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	min-height:400px;
	padding:20px;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	padding: 30px;
	background: #BFF08E;
}


input,select,textarea,button {font-family:Arial;font-size:14px;}

td {vertical-align:top;border:0;padding:0;border-collapse:collapse;margin:0;}
img { border:0px; }
*:focus {outline:none}

.fl{float:left}
.fr{float:right}
.clear{clear:both}
div.clear {line-height:1px;height:1px;font-size:1px;}

a {color:blue;}

h1 {margin-bottom:20px;}


.form-errors {color:red;margin-bottom:20px;}
.input-txt { padding:3px;border:1px solid #ccc;width:300px; }
.input-label {display:block;margin-bottom:7px;}

.form{
    margin: 15px 0px;
}

.form-group{
    margin: 0px 10px 10px 5px;
}

.form-group label{
    font-weight: bold;
}

.form-group input, .form-group textarea{
    width: 100%;
}

.btn {
	text-decoration:none;
	font-family:"Trebuchet MS",Verdana,Arial;
	cursor:pointer;
	font-size:14px;
	font-weight:normal;
	color:white;
	padding:4px 15px;
	border:0;
	border-radius:7px;
	background:#13b700;
	background: -moz-linear-gradient(top, #1ed400 0%, #13b700 100%);
	background: -webkit-linear-gradient(top, #1ed400 0%, #13b700 100%);
	background: -o-linear-gradient(top, #1ed400 0%, #13b700 100%);
	background: -ms-linear-gradient(top, #1ed400 0%, #13b700 100%);
	background: linear-gradient(top, #1ed400 0%, #13b700 100%);
	border-bottom:1px solid #137700;
	border-right:1px solid #137700;
 }
.btn:hover {
	background:#19c500;	
}

/* Modal
---------------------------------------------*/
.modal-overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay .modal{
    font-family: Arial, Tahoma;
    position: relative;
    background-color: #fff;
    min-height: 40%;
    width: 60%;
    margin: 30px auto;
    webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    padding: 20px;
}

.modal-overlay .close{
}

#list{
    margin: 20px 0px;
}

#list .site{
    margin: 0px 0px 15px 0px;
    clear: both;
    border-bottom: 1px solid #ccc;
    min-height: 100px;
}

#list .site a{
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

#list .site a:hover{
    text-decoration: underline;
}

#list .site img{
    width: 150px;
    max-height: 100px;
    float: left;
    margin: 0px 15px 0px 0px;
}

#list .site .description{
    margin: 10px 0px;
}

#site .logo{
    text-align: center;
}

#site .logo img{
    max-height: 150px;
}